@import 'slider.scss';

$article-border-color: $secondary-dark;

.mod-landing__articles {
  margin: 24px 0 36px 0;
  & h3 {
    text-align: center;
    margin: 24px 0 12px 0;
    &:before,
    &:after {
      content: '';
      display: inline-block;
      margin: 0 10px;
      width: 40px;
      vertical-align: middle;
      border-bottom: 1px solid #999;
    }
  }
  & ul {
    text-align: center;
    & li {
      padding: 6px 20px;
    }
  }
}

.article-link {
  display: block;
  font-weight: 700;
  color: $primary-mid;
  text-align: right;
  & a {
    color: inherit;
  }
}
