$button-color: #ccc;
$button-color--active: #fff;

.slides-group,
.slide {
  width: 100%;
  height: 100%;
}

.slide-viewer {
  overflow: hidden;
  position: relative;
}

.slide-group {
  position: relative;
}

.slide {
  position: absolute;
}

.slide:first-child {
  display: block;
}

.slide-buttons {
  position: absolute;
  bottom: 5%;
  & .slide-button {
    display: inline-block;
    padding: 4px;
    margin: 4px;
    color: $button-color;
    &:first-child,
    &:last-child {
      vertical-align: -10%;
    }
    &:hover {
      cursor: pointer;
    }
    &.button--active {
      color: $button-color--active;
      vertical-align: -5%;
    }
  }
}
