$primary-light: #fff;
$primary-mid: #22a39f;
$primary-dark: #434242;
$secondary-light: #f3efe0;;
$secondary-mid: #fdc149;
$secondary-dark: #434242;

// Typography colors
$h1-color: $primary-mid;
$h2-color: $primary-mid;
$h3-color: $primary-mid;
$text-base: #727878;

// Logo variables
$logo-wrapper-background: $secondary-light;

// NavMain variables
$nav-main-wrapper-background: $primary-mid;
$nav-main-top-item-color: #ddd;
$nav-main-top-item-color--hover: $primary-light;

// breadcrumbs variables
$breadcrumble-item-color: $text-base;

// Footer variables
$footer-wrapper-background: $primary-dark;

// Footer Nav variables
$footer-nav-item-color: #aaa;
$footer-nav-item-color--hover: $secondary-light;
