.nav-main__wrapper {
  background-color: $nav-main-wrapper-background;
}

.nav-main {
  text-align: right;
  & .nav-main__top-list {
    padding: 0;
    margin: 0;
    & .nav-main__top-list-item {
      display: inline-block;
      &:not(:first-child) {
        padding-left: 10px;
      }
      &:not(:last-child) {
        padding-right: 10px;
      }
      & .nav-main__top-list-item-title {
        font-size: 1.5em;
        color: $nav-main-top-item-color;
        &:hover {
          color: $nav-main-top-item-color--hover;
        }
      }
    }
  }
}
