$field-title-color: #424242;

.mod-projects {
  & .mod-projects__filter {
    border: 1px solid gray;
    border-radius: 4px;
    & .filter__field {
      & .field__title {
        color: $field-title-color;
        font-weight: 700;
      }
      & .field__param {

      }
    }
  }
  & .mod-projects__sort {
    & .sort-list {
      display: inline-block;
      & .sort-list__item {
        display: inline-block;
      }
    }
  }
  & .mod-projects__gallery {
    & .gallery-item {
      text-align: center;
      & .gallery-item__title {

      }
      & .gallery-item__param {

      }
    }
  }
  & .mod-projects__pager {
    text-align: center;
    & .pager__pages {
      & .pages-list {
        display: inline-block;
        & .pages-list__page {
          display: inline-block;
        }
      }
    }
  }
}
